@font-face {
    font-family: 'Linux Libertine'; /* normal */
    src: url('fonts/LinLibertine_R.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Linux Biolinum'; /* normal */
    src: url('fonts/LinBiolinum_R.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Linux Libertine'; /* italic */
    src: url('fonts/LinLibertine_RI.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Linux Libertine'; /* bold */
    src: url('fonts/LinLibertine_RB.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Linux Libertine'; /* bold */
    src: url('fonts/LinLibertine_RBI.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

:root {
    --red: #9d2235;
    --very-dark-gray: #3e4040;
	--darker-gray: #585858;
    --dark-gray: #898d8d;
    --gray: #c7c9c7;
    --white: #ffffff;
    --width: 65%;
    --flew-wrap-margin: 0.5rem;
	--img-size: 10em;
}  

body	{
	margin-top: 0px;
	padding:0;
    font-family: 'Roboto', sans-serif;
	font-size:100%;
	line-height:150%;
}

a:link, a:visited	{
	text-decoration: none;
	color:#000
}

a:hover	{
	text-decoration: underline;
    color: var(--red);
}

#main {
	width: var(--width);
	max-width: 1000px;
	margin: 0 auto;
}

#nav {
	text-align:center;
	font-size: 1.1rem;
	margin:auto;
	margin-top:0px;
	padding-top:0px;
	margin-bottom:5px;
	padding-bottom:5px;
	border-bottom: 1.5px solid var(--red);
}

.content-left {
	text-align:left;
	margin:auto;
	padding-top:5px;
	margin-bottom:10px;
	padding-bottom:10px;
}

.middle-section {
	border-bottom: 1.5px solid var(--gray);
}

.content {
	text-align:center;
	margin:auto;
	margin-top:20px;
	padding-top:20px;
	margin-bottom:20px;
	padding-bottom:20px;
}

#footer {
	text-align:center;
	margin:auto;
	font-size:0.8em;
	margin-bottom:10px;
	padding-bottom:10px;
	border-top: 1.5px solid var(--red);
}

#header{
	text-align:left;
	margin: 2em 4em 1em 4em;
    display: flex;
    align-items: flex-start;
    font-family: 'Roboto Serif', serif;
}

#header #face-container {
	margin: auto 2em auto auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
}

#header img {
    width: 10em;
    border-radius: 50%;
}

#title {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 1rem;
}

#name-and-contact {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: baseline;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--flew-wrap-margin));
}


#paper-header{
	text-align:left;
	/* margin: 1em 4em 1em 4em; */
	margin: 2em 0em 1em 0em;
    display: flex;
    align-items: flex-start;
    font-family: 'Roboto Serif', serif;
}

#paper-title {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: baseline;
	width: 100%;
	text-wrap: wrap;
    text-align: center;
    /* vertical-align: middle; */
    flex-wrap: wrap;
	white-space: wrap;
	margin: 0 0 0 0;
    margin-top: calc(-1 * var(--flew-wrap-margin));
}


#paper-title h1 {
    font-family: 'Roboto', sans-serif;
    margin: var(--flew-wrap-margin) 0rem 0rem 0rem;
    font-weight: 100;
    font-size: 2.4rem;
    line-height: 3rem;
    color: var(--red);
    white-space: wrap;
    vertical-align: baseline;
    /* display: inline-block; */
}

#authors {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: baseline;
	width: 100%;
	font-family: 'Linux Libertine';
	font-size: 1.1rem;
	margin-top: 20px;
	margin-bottom: 20px;
}

#authors p {
	color: var(--darker-gray);
	width: 100%;
    margin-top: 3px;
    margin-bottom: 0px;
}

#authors a {
	color: var(--darker-gray);
    margin-top: 5px;
    margin-bottom: 0px;
}

#authors a:hover {
	text-decoration: underline;
    color: var(--red);
}

#teaser-image {
	color: var(--darker-gray);
    font-family: Helvetica, Arial, sans-serif;
    font-weight: normal;
    font-size: 1rem;
	text-align: justify;
    white-space: wrap;
    vertical-align: baseline;
    display: inline-block;
	width: 100%;
}

#caption {
	color: var(--darker-gray);
    font-family: Helvetica, Arial, sans-serif;
    font-weight: normal;
    font-size: 1rem;
	text-align: justify;
    white-space: wrap;
    vertical-align: baseline;
    display: inline-block;
	width: 100%;
}

#abstract h2 {
	color: var(--red);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: baseline;

	width: 100%;
	font-family: Roboto, sans-serif;
	font-weight: 200;
	/* font-size: 1.5rem; */
	/* margin-top: 20px; */
	/* margin-bottom: 20px; */
	text-align: justify;
}

#abstract p {
	color: var(--darker-gray);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: baseline;

	width: 100%;
	font-family: 'Linux Libertine';
	/* font-size: 1.5rem; */
	/* margin-top: 20px; */
	/* margin-bottom: 20px; */
	text-align: justify;
}


h1 {
    font-family: 'Roboto', sans-serif;
    margin: var(--flew-wrap-margin) 2rem 0rem 0px;
    font-weight: 200;
    font-size: 3rem;
    line-height: 3rem;
    color: var(--red);
    white-space: nowrap;
    vertical-align: baseline;
    /* display: inline-block; */
}

#icons {
    margin: var(--flew-wrap-margin) 0px 0rem 0px;
    /* margin: 0; */
    white-space: nowrap;
    /* line-height: 3rem; */
    vertical-align: baseline;
    /* text-align: center; */
    font-size: 1.5em;
}

#icon {
    vertical-align: baseline;
    line-height: 1rem;
}

#intro {
    margin-top: 1rem;
    margin-bottom: 0;
	color: var(--very-dark-gray);
}

#content-left a:link, #content-left a:visited	{
	text-decoration: underline;
	color: var(--red);
}

#content-left a:hover	{
	text-decoration: none;
}

#content-left ul {
	margin: 0px;
}

#content-left li {
	margin: 0px;
}

.collapsable {
	display: none;
}

button#collapse {
	width: 100%;
	padding: 0rem;
	border: none;
	background: #00000000;
	color: var(--dark-gray);
	font-size: 1.25rem;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
}

#publication {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
	margin-bottom: 2.5rem;
}

#publication a:link, #publication a:visited	{
	text-decoration: none;
	color:#000
}

#publication a:hover	{
	text-decoration: underline;
    color: var(--red);
}

#publication h3, #post h2	{
    font-weight: 200;
    font-size: 1.5rem;
	margin: 0px;
	line-height: 130%;
}

#publication i	{
	font-size:0.9em;
	color: var(--dark-gray);
    margin-bottom: 2px;
}

#news ul {
	margin-bottom: 0.75rem;
}

#news i	{
	font-size:0.9em;
	color: var(--dark-gray);
    margin-bottom: 2px;
}

#publication p {
	font-size:0.8em;
	color: var(--dark-gray);
    margin-top: 0px;
    margin-bottom: 0px;
}

#publication-image {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: var(--img-size);
    min-height: calc(0.65 * var(--img-size));
}

#publication-image img {
    width: var(--img-size);
    /* border-radius: 5%; */
	/* margin: auto 2em auto auto; */
    /* filter: drop-shadow(3px 3px 4px var(--very-dark-gray)); */
    filter: drop-shadow(2px 2px 3px var(--very-dark-gray));
}

#publication-content {
    margin-left: 2rem;
}

#post i	{
	font-size:0.9em;
	color: grey;
}

#publication-links {
    margin-top: 0.5rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    vertical-align: middle;
    color: var(--dark-gray);
}


#publication-links-pubpage {
    margin-top: 0.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-wrap: wrap;
    vertical-align: middle;
    color: var(--dark-gray);
	box-sizing: border-box;
}

#publication-links a, #publication-links a:link, #publication-links a:visited {
    background-color: var(--white);
    color: var(--very-dark-gray);

    display: inline-block;
    height: 100%;

	padding: 0.3em 0.7em 0.3em 0.7em;
    margin-right: 5px;
    margin-bottom: 5px;

	border-radius: 10px;
    border-color: var(--red);
    border-style: solid;

	font-size: 0.8em;
	text-decoration: none;
    font-family: 'Roboto Flex', sans-serif;
    filter: drop-shadow(2px 2px 2px var(--dark-gray));

    vertical-align: middle;
}

#publication-links-pubpage a, #publication-links-pubpage a:link, #publication-links-pubpage a:visited {
	background-color: var(--white);
    color: var(--very-dark-gray);

    display: inline-block;
    height: 100%;

	padding: 0.4em 1.3em 0.4em 1.3em;
    margin-right: 5px;
    margin-bottom: 5px;

	border-radius: 10px;
    border-color: var(--red);
    border-style: solid;

	font-size: 1.15em;
	text-decoration: none;
    font-family: 'Roboto Flex', sans-serif;
    filter: drop-shadow(2px 2px 2px var(--dark-gray));

    vertical-align: middle;
}

#publication-links-pubpage a:hover, #publication-links-pubpage a:hover .fa-solid, #publication-links-pubpage a:hover .bi {
	text-decoration: none;
    background-color: var(--red);
    color: var(--white);
}

#publication-links .fa-solid, #publication-links .fa {
    font-size: 1.1em;
}

#publication-links .bi {
    font-size: 1.25em;
}

#publication-links a:hover, #publication-links a:hover .fa-solid, #publication-links a:hover .bi {
	text-decoration: none;
    background-color: var(--red);
    color: var(--white);
}

#BibTeX {
	color: var(--darker-gray);
	box-sizing: border-box;
	margin-bottom: 0px;
}

#bibtex {
    display: flex;
    flex-direction: row;
	text-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
	margin-bottom: 0rem;
	width: 100%;
	background-color: #f1f1f1;
	color: #000000;
	padding: 15px;
	box-sizing: border-box;
	border-radius: 10px;
    border-color: var(--red);
    border-style: solid;
}

@media screen and (min-width: 450px) and (max-width: 850px) {
	#main {
		width: calc(100% - 20px);
		margin: 0 auto;
		padding: 10px;
	}
	
	#header {
		margin-left: 0px;
		margin-right: 0px;
		margin-top: 0px;
	}

	#title, #nav, #content-left, #footer {
		display: block;
		width: 100%;
	}

	#nav {
		font-size: 1.3rem;
		padding-bottom: 0.5em;
	}

    h1 {
        font-size: 2.5rem;
        line-height: 2.5rem;
    }

	h2 {
		font-size: 2em;
	}

	h3 {
		font-size: 1em;
	}

}

@media screen and (min-width: 350px) and (max-width: 450px) {
	#main {
		width: calc(100% - 5px);
		margin: 0 auto;
		padding: 5px;
	}

	#header {
		margin-left: 0px;
		margin-right: 0px;
		margin-top: 0px;
	}

	#header img {
		margin: auto 1rem auto auto;
		width: 8em;
	}

	#header h1 {
		font-size: 2.5rem;
		margin-right: 0px;
	}

	#icons {
		font-size: 1.4em;
	}

	#intro {
		padding: 0px 0.3rem 0px 0px;
	}

	#title, #nav, #content-left, #footer {
		display: block;
		width: 100%;
	}

	#nav {
		font-size: 1.3rem;
		padding-bottom: 0.5em;
	}

	h2 {
		font-size: 2em;
	}

	h3 {
		font-size: 1em;
	}
}

/* All smaller screens get this: */
@media screen and (max-width: 850px) {
	#main {
		width: calc(100% - 5px);
		margin: 0;
	}

	#paper-title {
		display: flex;
		flex-direction: row;
		justify-content: center;
		width: 100%;
		text-align: center;
		margin: 0 0 0 0;
	}

	#paper-title h1 {
		font-weight: 300;
		vertical-align: baseline;
	}

	#authors {
		justify-content: center;
		text-align: center;
	}

	#publication-links-pubpage a, #publication-links-pubpage a:link, #publication-links-pubpage a:visited {
		margin-right: 2px;
		margin-bottom: 2px;
		border-width: 2px;
	}

	#bibtex {
		font-size: 80%;
	}
}

@media screen and (min-width: 650px) and (max-width: 850px) {
	#paper-title h1 {
		font-size: 2rem;
		line-height: 2.2rem;
	}

	#authors {
		font-size: 1rem;
	}

	#publication-links-pubpage a, #publication-links-pubpage a:link, #publication-links-pubpage a:visited {
		padding: 0.2em 0.8em 0.2em 0.8em;
		font-size: 1.2em;
	}
}

@media screen and (min-width: 450px) and (max-width: 650px) {
	#paper-title h1 {
		font-size: 2rem;
		line-height: 2.2rem;
	}

	#authors {
		font-size: 1rem;
	}

	#publication-links-pubpage a, #publication-links-pubpage a:link, #publication-links-pubpage a:visited {
		padding: 0.05em 0.65em 0.05em 0.65em;
		font-size: 0.9em;
	}
}

@media screen and (max-width: 450px) {
	#paper-title h1 {
		font-size: 1.4rem;
		line-height: 1.6rem;
	}
	#authors {
		font-size: 0.9rem;
		margin-top: 0px;
	}
	#authors p {
		margin-top: 0px;
	}

	#publication-links-pubpage a, #publication-links-pubpage a:link, #publication-links-pubpage a:visited {
		padding: 0.1em 0.65em 0.1em 0.65em;
		font-size: 0.7em;
		border-width: 1px;
	}
}